In [1]:
#import
import pandas as pd
import numpy as np

In [2]:
#read data
FIFA2018 = pd.read_csv("C:/Users/artur/Desktop/Project/Data_set.csv")

In [3]:
#checking nulls
FIFA2018.isnull().any().any(), FIFA2018.shape

(True, (17994, 185))

In [4]:
#checking max nulls value
FIFA2018.isnull().sum(axis=0).max()

15973

In [5]:
#drop columns with large amount of null
FIFA2018 = FIFA2018.drop(['rs', 'rw', 'rf', 'ram', 'rcm', 'rm', 'rdm', 'rcb', 'rb', 'rwb', 'st', 'lw', 'cf', 'cam', 'cm', 'lm', 'cdm', 'cb', 'lb', 'lwb', 'ls', 'lf', 'lam', 'lcm', 'ldm', 'lcb', 'gk'], axis=1)

In [6]:
#checking nulls again
FIFA2018.isnull().sum(axis=0)

ID                                 0
name                               0
full_name                          0
club                             253
club_logo                        253
special                            0
age                                0
league                           253
birth_date                         0
height_cm                          0
weight_kg                          0
body_type                          0
real_face                          0
flag                               0
nationality                        0
photo                              0
eur_value                          0
eur_wage                           0
eur_release_clause              1494
overall                            0
potential                          0
pac                                0
sho                                0
pas                                0
dri                                0
def                                0
phy                                0
international_reputation           0
skill_moves                        0
weak_foot                          0
                                ...
acrobat_speciality                 0
strength_speciality                0
clinical_finisher_speciality       0
prefers_rs                         0
prefers_rw                         0
prefers_rf                         0
prefers_ram                        0
prefers_rcm                        0
prefers_rm                         0
prefers_rdm                        0
prefers_rcb                        0
prefers_rb                         0
prefers_rwb                        0
prefers_st                         0
prefers_lw                         0
prefers_cf                         0
prefers_cam                        0
prefers_cm                         0
prefers_lm                         0
prefers_cdm                        0
prefers_cb                         0
prefers_lb                         0
prefers_lwb                        0
prefers_ls                         0
prefers_lf                         0
prefers_lam                        0
prefers_lcm                        0
prefers_ldm                        0
prefers_lcb                        0
prefers_gk                         0
Length: 158, dtype: int64

In [7]:
#drop 'eur_release_clause' column
FIFA2018 = FIFA2018.drop(['eur_release_clause'], axis=1)

In [8]:
#drop all nulls
FIFA2018= FIFA2018.dropna()

In [9]:
#proof that dataframe is without nulls
FIFA2018.isnull().any().any(), FIFA2018.shape

(False, (17741, 157))

In [10]:
#some statistics
FIFA2018.describe()

,ID,special,age,height_cm,weight_kg,eur_value,eur_wage,overall,potential,pac,...,penalties,composure,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
count,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,1.774100e+04,17741.000000,17741.000000,17741.000000,17741.000000,...,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000
mean,207756.835522,1594.596133,25.088552,181.277944,75.397103,2.404317e+06,11667.887943,66.237134,71.217462,67.728144,...,48.984837,57.922327,44.097063,47.465081,45.579054,16.663886,16.446987,16.322304,16.435263,16.802210
std,32421.331072,271.489781,4.616413,6.692701,6.993980,5.377693e+06,23173.181633,6.960273,6.084166,10.964373,...,15.774934,12.873242,21.563243,21.814726,21.468346,17.705665,16.929550,16.520619,17.033767,17.997396
min,16.000000,728.000000,16.000000,155.000000,49.000000,0.000000e+00,1000.000000,46.000000,46.000000,21.000000,...,5.000000,5.000000,4.000000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,192621.000000,1451.000000,21.000000,177.000000,70.000000,3.250000e+05,2000.000000,62.000000,67.000000,61.000000,...,39.000000,51.000000,22.000000,26.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,214175.000000,1634.000000,25.000000,181.000000,75.000000,7.000000e+05,4000.000000,66.000000,71.000000,68.000000,...,50.000000,60.000000,48.000000,54.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,231624.000000,1785.000000,28.000000,186.000000,80.000000,2.100000e+06,12000.000000,71.000000,75.000000,75.000000,...,61.000000,67.000000,63.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,241489.000000,2291.000000,47.000000,205.000000,110.000000,1.230000e+08,565000.000000,94.000000,94.000000,96.000000,...,92.000000,96.000000,92.000000,92.000000,91.000000,91.000000,91.000000,95.000000,91.000000,90.000000

In [11]:
#creating a list to correlate
cor_dataset = ['age', 'height_cm', 'weight_kg', 'overall', 'potential']

In [12]:
#loop checking correlation between Player value and chosen variables
for i in cor_dataset:
    related = FIFA2018['eur_value'].corr(FIFA2018[i])
    print("%s: %f" % (i,related))

age: 0.084194
height_cm: 0.002254
weight_kg: 0.037482
overall: 0.629889
potential: 0.587715

In [13]:
#loop checking correlation between Player wage and chosen variables
for i in cor_dataset:
    related = FIFA2018['eur_wage'].corr(FIFA2018[i])
    print("%s: %f" % (i, related))

age: 0.155772
height_cm: 0.020513
weight_kg: 0.060079
overall: 0.599680
potential: 0.519599

In [14]:
#new sets to another correlate
young = FIFA2018[FIFA2018.age <= 30]
old = FIFA2018[FIFA2018.age > 30]

In [15]:
#loop checking correlation between young Player wage and chosen variables
for i in cor_dataset:
    related = young['eur_wage'].corr(young[i])
    print("%s: %f" % (i, related))

age: 0.211672
height_cm: 0.016770
weight_kg: 0.059716
overall: 0.606458
potential: 0.515038

In [16]:
#loop checking correlation between old Player wage and chosen variables
for i in cor_dataset:
    related = old['eur_wage'].corr(old[i])
    print("%s: %f" % (i, related))

age: -0.105464
height_cm: 0.031677
weight_kg: 0.037124
overall: 0.617977
potential: 0.617977

In [17]:
#loop checking correlation between young Player value and chosen variables
for i in cor_dataset:
    related = young['eur_value'].corr(young[i])
    print("%s: %f" % (i, related))

age: 0.170017
height_cm: 0.001145
weight_kg: 0.045254
overall: 0.648071
potential: 0.583303

In [18]:
#loop checking correlation between old Player value and chosen variables
for i in cor_dataset:
    related = old['eur_value'].corr(old[i])
    print("%s: %f" % (i, related))

age: -0.178668
height_cm: 0.022457
weight_kg: 0.016008
overall: 0.635670
potential: 0.635670

In [19]:
#adding new column with info if Player plays in one of the best league
for i in FIFA2018.index:
    if FIFA2018.loc[i,'league'] =='Spanish Primera División':
        FIFA2018.loc[i,'Big_league_or_not'] = 1
    elif FIFA2018.loc[i,'league'] == 'French Ligue 1':
        FIFA2018.loc[i,'Big_league_or_not'] = 1
    elif FIFA2018.loc[i,'league'] =='German Bundesliga':
        FIFA2018.loc[i,'Big_league_or_not'] = 1
    elif FIFA2018.loc[i,'league'] == 'English Premier League':
        FIFA2018.loc[i,'Big_league_or_not'] = 1
    elif FIFA2018.loc[i,'league'] == 'Italian Serie A':
        FIFA2018.loc[i,'Big_league_or_not'] = 1
    else:
        FIFA2018.loc[i,'Big_league_or_not'] = 0

In [20]:
#impact of playing in one of TOP leagues for wage/value
x1=FIFA2018['eur_wage'].corr(FIFA2018['Big_league_or_not'])
x2=FIFA2018['eur_value'].corr(FIFA2018['Big_league_or_not'])
print("%s: %f" % ('Wage', x1))
print("%s: %f" % ('Value', x2))

Wage: 0.486842
Value: 0.443080

In [21]:
#changing chosen columns to lists
s = list(FIFA2018['name'])
p = list(FIFA2018['eur_value'])

In [22]:
#creating dictionary
dicts = {}
col = FIFA2018['name']
for i in col.index:
    for j in col:
        if j not in dicts.keys():
            dicts[j] = p[i]
            i = i + 1

In [23]:
#checking
dicts['Neymar']

123000000.0

In [24]:
#sort by value
FIFA2018 = FIFA2018.sort_values(by=['eur_value'])

In [25]:
#first 10 rows
FIFA2018['eur_value'].head(10)

3105         0.0
17990        0.0
2199         0.0
17628        0.0
7734         0.0
3272         0.0
16007    10000.0
17598    10000.0
17553    10000.0
16366    10000.0
Name: eur_value, dtype: float64

In [26]:
#drop rows with euro value = 0
FIFA2018 = FIFA2018.drop([3105, 17990, 2199, 17628, 7734, 3272], axis=0)

In [27]:
#this function let chose any player(d) and return amount of players(sorted from cheapest to most expensive) which you can buy at the player's (d) price
def f1(data, d):
    selector = (FIFA2018['eur_value'].cumsum() <= d)
    num_afforded_players = len(FIFA2018[selector])
    return num_afforded_players

In [28]:
#So, python says that for 1 Cristiano Ronaldo we can buy 1238 other players(sorted ascending by value). Impresive!
f1(FIFA2018, dicts['Cristiano Ronaldo'])

1238