# FIFA 2018 DATASET ANALYZING
```
```
```
```
#### Library import

In [1]:
import pandas as pd
import numpy as np

#### Read data

In [2]:
FIFA2018 = pd.read_csv("C:/Users/artur/Desktop/Project/Data_set.csv")

#### Checking nulls

In [3]:
FIFA2018.isnull().any().any(), FIFA2018.shape

(True, (17994, 185))

#### Checking max nulls value

In [4]:
FIFA2018.isnull().sum(axis=0).max()

15973

#### Drop columns with large amount of null

In [5]:
FIFA2018 = FIFA2018.drop(['rs', 'rw', 'rf', 'ram', 'rcm', 'rm', 'rdm', 'rcb', 'rb', 'rwb', 'st', 'lw', 'cf', 'cam', 'cm', 'lm', 'cdm', 'cb', 'lb', 'lwb', 'ls', 'lf', 'lam', 'lcm', 'ldm', 'lcb', 'gk'], axis=1)

#### Checking nulls again

In [6]:
FIFA2018.isnull().sum(axis=0)

ID                                 0
name                               0
full_name                          0
club                             253
club_logo                        253
special                            0
age                                0
league                           253
birth_date                         0
height_cm                          0
weight_kg                          0
body_type                          0
real_face                          0
flag                               0
nationality                        0
photo                              0
eur_value                          0
eur_wage                           0
eur_release_clause              1494
overall                            0
potential                          0
pac                                0
sho                                0
pas                                0
dri                                0
def                                0
phy                                0
international_reputation           0
skill_moves                        0
weak_foot                          0
                                ...
acrobat_speciality                 0
strength_speciality                0
clinical_finisher_speciality       0
prefers_rs                         0
prefers_rw                         0
prefers_rf                         0
prefers_ram                        0
prefers_rcm                        0
prefers_rm                         0
prefers_rdm                        0
prefers_rcb                        0
prefers_rb                         0
prefers_rwb                        0
prefers_st                         0
prefers_lw                         0
prefers_cf                         0
prefers_cam                        0
prefers_cm                         0
prefers_lm                         0
prefers_cdm                        0
prefers_cb                         0
prefers_lb                         0
prefers_lwb                        0
prefers_ls                         0
prefers_lf                         0
prefers_lam                        0
prefers_lcm                        0
prefers_ldm                        0
prefers_lcb                        0
prefers_gk                         0
Length: 158, dtype: int64

#### Drop 'eur_release_clause' column

In [7]:
FIFA2018 = FIFA2018.drop(['eur_release_clause'], axis=1)

#### Drop all nulls

In [8]:
FIFA2018= FIFA2018.dropna()

#### Proof that dataframe is without null

In [9]:
FIFA2018.isnull().any().any(), FIFA2018.shape

(False, (17741, 157))

### Some statistics

####  For me, interesting is eur_wage column just in case of quartiles - 50% players wage is less than or equal to 4000 and 75% players wage is less than or equal to 12000 while max wage is 565000. It means that this column is very asymmetric

In [10]:
FIFA2018.describe()

,ID,special,age,height_cm,weight_kg,eur_value,eur_wage,overall,potential,pac,...,penalties,composure,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
count,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,1.774100e+04,17741.000000,17741.000000,17741.000000,17741.000000,...,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000,17741.000000
mean,207756.835522,1594.596133,25.088552,181.277944,75.397103,2.404317e+06,11667.887943,66.237134,71.217462,67.728144,...,48.984837,57.922327,44.097063,47.465081,45.579054,16.663886,16.446987,16.322304,16.435263,16.802210
std,32421.331072,271.489781,4.616413,6.692701,6.993980,5.377693e+06,23173.181633,6.960273,6.084166,10.964373,...,15.774934,12.873242,21.563243,21.814726,21.468346,17.705665,16.929550,16.520619,17.033767,17.997396
min,16.000000,728.000000,16.000000,155.000000,49.000000,0.000000e+00,1000.000000,46.000000,46.000000,21.000000,...,5.000000,5.000000,4.000000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,192621.000000,1451.000000,21.000000,177.000000,70.000000,3.250000e+05,2000.000000,62.000000,67.000000,61.000000,...,39.000000,51.000000,22.000000,26.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,214175.000000,1634.000000,25.000000,181.000000,75.000000,7.000000e+05,4000.000000,66.000000,71.000000,68.000000,...,50.000000,60.000000,48.000000,54.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,231624.000000,1785.000000,28.000000,186.000000,80.000000,2.100000e+06,12000.000000,71.000000,75.000000,75.000000,...,61.000000,67.000000,63.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,241489.000000,2291.000000,47.000000,205.000000,110.000000,1.230000e+08,565000.000000,94.000000,94.000000,96.000000,...,92.000000,96.000000,92.000000,92.000000,91.000000,91.000000,91.000000,95.000000,91.000000,90.000000

#### Creating a list to correlate

In [11]:
cor_dataset = ['age', 'height_cm', 'weight_kg', 'overall', 'potential']

### Now i would like to know more statistical curiosities


#### Loop checking correlation between Player value and chosen variables

In [12]:
for i in cor_dataset:
    related = FIFA2018['eur_value'].corr(FIFA2018[i])
    print("%s: %f" % (i,related))

age: 0.084194
height_cm: 0.002254
weight_kg: 0.037482
overall: 0.629889
potential: 0.587715

#### Loop checking correlation between Player wage and chosen variables

In [13]:
for i in cor_dataset:
    related = FIFA2018['eur_wage'].corr(FIFA2018[i])
    print("%s: %f" % (i, related))

age: 0.155772
height_cm: 0.020513
weight_kg: 0.060079
overall: 0.599680
potential: 0.519599

#### There is no surprise. We can see medium-high correlation between values like overall or potential and wage/value(the better you are or higher potential you have will be the more you earn / the more you are worth) and almost 0 correlation between heigh or weight and wage/value(you can be amazing, high goalkeeper and earn a lot or very skillful, short midfielder and also earn a lot - that's why). But what about age? This can be a little bit surprising so...let's do an experiment

#

### I think if i share my dataset to young (before 30 YO) and old (after 30 YO) players then we can see a real age-to-value/wage impact

In [14]:
young = FIFA2018[FIFA2018.age <= 30]
old = FIFA2018[FIFA2018.age > 30]

#### Loop checking correlation between young Player wage and chosen variables

In [15]:
for i in cor_dataset:
    related = young['eur_wage'].corr(young[i])
    print("%s: %f" % (i, related))

age: 0.211672
height_cm: 0.016770
weight_kg: 0.059716
overall: 0.606458
potential: 0.515038

#### Loop checking correlation between old Player wage and chosen variables

In [16]:
for i in cor_dataset:
    related = old['eur_wage'].corr(old[i])
    print("%s: %f" % (i, related))

age: -0.105464
height_cm: 0.031677
weight_kg: 0.037124
overall: 0.617977
potential: 0.617977

#### Loop checking correlation between young Player value and chosen variables

In [17]:
for i in cor_dataset:
    related = young['eur_value'].corr(young[i])
    print("%s: %f" % (i, related))

age: 0.170017
height_cm: 0.001145
weight_kg: 0.045254
overall: 0.648071
potential: 0.583303

#### Loop checking correlation between old Player value and chosen variables

In [18]:
for i in cor_dataset:
    related = old['eur_value'].corr(old[i])
    print("%s: %f" % (i, related))

age: -0.178668
height_cm: 0.022457
weight_kg: 0.016008
overall: 0.635670
potential: 0.635670

#### Well, I was right. It's very understood that if you're a young player every year in football makes you more skillful, experienced. Simply you are just better player so this is reflected in the salary. And the other side - football players usually retire at ~35 years old, so after 30 YO they are propably get worse - they lose speed, strengh and stamina. This is also answer why usually the oldest players are goalkeepers - they don't need those factors as much as footballers at other position.

#

### There is one more thing i want to check in my correlation experiment. Let's add new column with info if Player plays in one of the best league

In [19]:
for i in FIFA2018.index:
    if FIFA2018.loc[i,'league'] =='Spanish Primera División':
        FIFA2018.loc[i,'Big_league_or_not'] = 1
    elif FIFA2018.loc[i,'league'] == 'French Ligue 1':
        FIFA2018.loc[i,'Big_league_or_not'] = 1
    elif FIFA2018.loc[i,'league'] =='German Bundesliga':
        FIFA2018.loc[i,'Big_league_or_not'] = 1
    elif FIFA2018.loc[i,'league'] == 'English Premier League':
        FIFA2018.loc[i,'Big_league_or_not'] = 1
    elif FIFA2018.loc[i,'league'] == 'Italian Serie A':
        FIFA2018.loc[i,'Big_league_or_not'] = 1
    else:
        FIFA2018.loc[i,'Big_league_or_not'] = 0

#### Yes, You probably guessed it - it has an impact

In [20]:
x1=FIFA2018['eur_wage'].corr(FIFA2018['Big_league_or_not'])
x2=FIFA2018['eur_value'].corr(FIFA2018['Big_league_or_not'])
print("%s: %f" % ('Wage', x1))
print("%s: %f" % ('Value', x2))

Wage: 0.486842
Value: 0.443080

### Another case now - i want to build a usefull function which let chose any player and return amount of players(sorted from cheapest to most expensive) which you can buy at the price of selected player.

#### Changing chosen columns to lists

In [21]:
s = list(FIFA2018['name'])
p = list(FIFA2018['eur_value'])

#### Creating dictionary to connect player name with his value

In [22]:
dicts = {}
col = FIFA2018['name']
for i in col.index:
    for j in col:
        if j not in dicts.keys():
            dicts[j] = p[i]
            i = i + 1

#### Checking

In [23]:
dicts['Neymar']

123000000.0

#### Sort dataset by value

In [24]:
FIFA2018 = FIFA2018.sort_values(by=['eur_value'])

#### First 10 rows just to check

In [25]:
FIFA2018['eur_value'].head(10)

3105         0.0
17990        0.0
2199         0.0
17628        0.0
7734         0.0
3272         0.0
16007    10000.0
17598    10000.0
17553    10000.0
16366    10000.0
Name: eur_value, dtype: float64

#### Players with value = 0 are useless to my calculations it's good idea to drop them out

In [26]:
FIFA2018 = FIFA2018.drop([3105, 17990, 2199, 17628, 7734, 3272], axis=0)

#### Function

In [27]:
def f1(data, d):
    selector = (FIFA2018['eur_value'].cumsum() <= d)
    num_afforded_players = len(FIFA2018[selector])
    return num_afforded_players

#### So, python says that for 1 Cristiano Ronaldo we can buy 1238 other players(sorted ascending by value). Impresive!

In [28]:
f1(FIFA2018, dicts['Cristiano Ronaldo'])

1238

### Here is another case. First let's sum wages grouped by league

In [29]:
wage_per_league = FIFA2018.groupby('league')['league','eur_wage'].sum()

#### This part of code show us sum of TOP 10 wages in FIFA18

In [30]:
v = FIFA2018.sort_values(by='eur_wage', ascending=False).head(10).eur_wage.sum()

#### We need to sort data by eur_wage ascending to do next step

In [31]:
wage_per_league = wage_per_league.sort_values(by='eur_wage')

#### This part od code tells us that wages TOP10 players are enough to pay wage to all players from the 10 poorest leagues in the world. This is amazing and sad at the same time.

In [32]:
selector = (wage_per_league['eur_wage'].cumsum() <= v)
num_of_leagues = len(wage_per_league[selector])
print(num_of_leagues)

10

#### What about the proof? Look below

In [33]:
FIFA2018.sort_values(by='eur_wage', ascending=False).head(10).eur_wage.sum() > wage_per_league.head(10).eur_wage.sum()

True

## Did you like previous fact? Let's do something similar

#### First, we need sum of Players wages group by club in Spanish Primera División

In [34]:
wage_per_club_esp = FIFA2018[FIFA2018.league == 'Spanish Primera División'].groupby('club')['club','eur_wage'].sum()

#### Then sort ascending

In [35]:
wage_per_club_esp = wage_per_club_esp.sort_values(by='eur_wage')

#### Let's take 2 clubs which spend the most for wages

In [36]:
Big_2_esp = wage_per_club_esp.iloc[[-1,-2],0]

#### No surprise - it's Real and Barca

In [37]:
Big_2_esp

club
Real Madrid CF    4783000.0
FC Barcelona      4672000.0
Name: eur_wage, dtype: float64

#### Sum Real and Barca wages

In [38]:
Big_2_esp = Big_2_esp.sum()

### Finally! Sum of wages in Real&Barca let us pay sum of wages in 15 LaLiga clubs. It shows huge diversity.

In [39]:
selector = (wage_per_club_esp['eur_wage'].cumsum() <= Big_2_esp)
num_of_clubs = len(wage_per_club_esp[selector])
print(num_of_clubs)

15

## Let's do the same in the English Premier League - i guess it's more competitive

In [40]:
wage_per_club_eng = FIFA2018[FIFA2018.league == 'English Premier League'].groupby('club')['club', 'eur_wage'].sum()

In [41]:
wage_per_club_eng = wage_per_club_eng.sort_values(by='eur_wage')

In [42]:
Big_2_eng = wage_per_club_eng.iloc[[-1,-2], 0]

In [43]:
Big_2_eng

club
Manchester United    3598000.0
Chelsea              3471000.0
Name: eur_wage, dtype: float64

In [44]:
Big_2_eng = Big_2_eng.sum()

In [45]:
selector = (wage_per_club_eng['eur_wage'].cumsum() <= Big_2_eng)
num_of_clubs = len(wage_per_club_eng[selector])
print(num_of_clubs)

6

### I was right. English Premier League is very competitive and even ,,poorest" clubs are really rich comparing to ,,poorest" club in others leagues. Big difference between England and Spain!

## Thanks for your attention. This project is still in progress so i hope to add more curiosities in few days. Thanks!